// colors
$clr-primary-200: #EFF6F0;
$clr-primary-300: #DEEDE0;
$clr-primary-400: #CFE4D2;
$clr-primary-500: #7EB685;
$clr-primary-600: #4A8251;

$clr-neutral-0: #FFFFFF;
$clr-neutral-900: #2F2E41;
$clr-neutral-1000: #000000;